body {
    font-size: 16pt;
    color: white;
    background-color: black;    
    margin: 10px;
}

/*
td{
  background-color: rgb(28, 133, 89);
}
th{
  background-color: rgb(28, 133, 89);
}
tr{
  background-color: rgb(28, 133, 89);
}*/